<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{TITLE}}</title>
</head>
<body>
    <h1>{{TITLE}}</h1>
    <div>
        <p>{{BODY}} - <span>-- es un dato de variable </span></p>
    </div>
    <footer>
        <div>
            <p>{{FOOTER}} <span>--- esto es un dato de variable</span></p>
        </div>
    </footer>  
    <h6>{{SALUDO}}</h6>
</body>
</html>