<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello</title>
  </head>
  <body>
    <h1>Hello, it's me, Hello from the outside!</h1>
    <footer>
        <div>
            <h3>  variable : {{var_H3}}</h3>
            <h4>  variable : {{var_H4}}</h4>
      </div>
        <div>
          <h1> variable desde el archivo: {{VAR_SINCE_VAR_FILE}} </h1>
          <h2> variable desencriptada <span> {{SEC_PASSWORD}}</span> </h2>

        </div>
    </footer>
  </body>
</html>
